<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                    <a class="button button-icon icon ion-ios-person" href="#/blade/account"></a>
                    <a class="button button-icon icon ion-ios-briefcase-outline"></a>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-balanced">
           <h1 class="title">Google Keep</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <!-- Ladies-->
                <ion-item nav-clear menu-close class="item-icon-left" href="#/blade/ladies">
                    <i class="icon ion-ios-lightbulb-outline"></i>
                    {{'notes' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/blade/reminders">
                    <i class="icon ion-ios-alarm-outline"></i>
                    {{'reminders' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/blade/archive">
                    <i class="icon ion-ios-box-outline"></i>
                    {{'archive' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/blade/trash">
                    <i class="icon ion-ios-trash-outline"></i>
                    {{'trash' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-divider">
                    {{'labels' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/blade/ladies">
                    <i class="icon ion-ios-pricetag-outline"></i>
                    {{'individual' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/blade/ladies">
                    <i class="icon ion-ios-pricetag-outline"></i>
                    {{'work' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/blade/ladies">
                    <i class="icon ion-ios-pricetag-outline"></i>
                    {{'inspiration' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/blade/ladies">
                    <i class="icon ion-ios-help-outline"></i>
                    {{'helpFeedback' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
