<ion-view view-title="SIGN IN">
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="email" ng-model="loginData.username" placeholder="{{'email' | translate}}">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" ng-model="loginData.password" placeholder="{{'password' | translate}}">
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="signIn()">{{ 'sign_in' | translate }}</button>
            <hr>
            <a class="button button-block button-stable" href="#/blade/account/signUp">{{ 'sign_up' | translate }}</a>
        </form>
    </ion-content>
</ion-view>