<ion-view view-title="Note">
    <ion-content>

        <!--<div class="list card">-->

            <!--<div class="item item-body">-->
                <div class="blade-image-wrap">
                    <img ng-src="img/ladies/lady-01.jpg" alt="Description" class="full-image"/>

                    <h1 class="title"><span>Image 1</span></h1>
                    <button class="button button-icon icon ion-ios-information-outline wrap-button"
                            ng-click="openModal()">
                        {{'information' | translate}}
                    </button>
                    <!--<a class="button icon-left ion-ios-information-outline button-clear button-dark wrap-button">Info</a>-->
                </div>
            <!--</div>-->
        <!--</div>-->

    </ion-content>

    <ion-footer-bar class="bar-balanced">
        <div class="button-bar">
            <button class="button button-icon icon ion-ios-color-filter-outline" ng-click="test()">颜色</button>
            <button class="button button-icon icon ion-ios-calculator-outline" ng-click="showPopup()">尺码</button>
            <button class="button button-icon icon ion-bag" ng-click="showActionSheet()">添加到购物车</button>
        </div>
    </ion-footer-bar>

</ion-view>