<ion-view view-title="Scanner">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-left item-icon-right" ng-click="scanBarcode()">
                <i class="icon ion-qr-scanner"></i>
                      二维码/条形码扫描
                <i class="icon ion-ios-redo"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-qr-scanner"></i>
                      条形码编码手动输入
                <i class="icon ion-ios-redo"></i>
            </ion-item>

            <ion-item >
                <button class="button button-light" ng-click="scheduleSingleNotification()">
                    button-light
                </button>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
